body{  
  min-height: 100vh;
  background-color:var(--violet);
  background-image: url('../images/bg-desktop.svg') no-repeat ;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  
  padding: 2.8% 5.9%;
}

header{ 
  margin-bottom: 83px;
}

header img{
  max-width: 210px;
  height: auto;
  margin-top:15px;
}

.hero{
  display: flex;
  align-items: center;
  gap: 50px;  

}